  .bookCovers {
    height: 180px;
    min-width: 120px;
    max-width: 150px;   
} 

.listIcons {
  margin-left: auto;
  margin-right: 10%;
 
}

.listIcons .level-item {
  margin-left: 2rem
}
 
.accessBook {
  cursor: pointer;
}

.buttonBook {
  margin-left: auto
}

.scroll {
  opacity: 0.3;
  background-color: aqua;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
  border: none;
  
}

.arrow-up {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -5px;
}
  
.noResults {
  margin-top: 5%;
  padding: 5rem 0
}

