
.hero-body {
  padding: 1rem;
}
/* 
.carousel {
  background: #363636
}

.carousel-cell {
  margin-right: 10px;

  border-radius: 5px;
  counter-increment: carousel-cell;
}


.carousel-cell:before {
  display: block;
  text-align: center;

  line-height: 200px;
  font-size: 80px;
  color: white;
}
 */

 

@media (max-width: 550px) {
  
.carousel-cell {
  width: 99.8%;
}  
}

@media (min-width: 551px) and (max-width: 788px) {
  
.carousel-cell {
  width: 49.8%;
}  
}

@media (min-width: 789px) and (max-width: 1024px) {
  
.carousel-cell {
  width: 33%;
}  
}

@media (min-width: 1025px) and (max-width: 1280px) {
  
.carousel-cell {
  width: 24.5%;
}  
}

@media (min-width: 1281px) {
  
.carousel-cell {
  width: 19.5%;
}
}
